@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*요소 초기화*/
* {
	margin:0; padding:0;
}
html{  font-family: 'GmarketSansMedium';}
main{
    display: flex;
}
a{text-decoration: none;}
/*사이드 박스*/
aside{
    width: 20%;
    min-width: 350px;
    background-color: rgb(186, 233, 231);
}
aside td{
    border-bottom: 2px dotted white;
}
#last_td{
    border: 0;;
}
#last_td #home_btn{
    position: relative;
    top: 3px;
    padding-right: 5px;
}
aside table{
    width: 90%;
    margin: 0 auto;
}
aside td{
     padding: 20px 0;
}
aside ul{
    margin-top: 20px;
    margin-left: 30px;
    list-style: none;
}
aside li{
    margin-bottom: 15px;
}
#myName{
    margin-top: 10px;
    font-size: 22px;
}
#myinfo p {
    font-weight: bold;
}
#myinfo, #conection{
    text-align: center;
}
#myinfo img {
    width: 130px;
    height: 130px;
    object-fit: contain;
    border-radius: 100px;
}
#last_td a{
    color: black;
    font-weight: bold;
}
#last_td a:link{
    color: black;
}
#last_td a:visited{
    color: black
}
#last_td a:hover{
    font-size: 20px;
    color: gray
}
#connection_table{
    text-align: center;
    width: 300px;
}
#connection_table td{
    border: 0;
    padding: 0;
    width: 0px;
    word-break: break-all;
    font-weight: bold;
}
#connection_table tr:last-of-type{
    font-size: 12px;
}
/*본문(article)*/
article{
    display: grid;
    width: 100%;
    min-width: 1000px;
}
article table{
    height: 100%;
    width: 90%;
    margin: 20px auto;   
}
article table th{
    padding-top: 3px;
    font-size: 16px;
    background-color: rgb(192, 238, 234);
    border: 4px solid rgb(186, 233, 231);
    border-radius: 20px;
}
#profile #wrap {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    display: flex;
}
#profile #wrap div{
    padding:15px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 100px;
}
#profile #wrap a{
    font-size: 14px;
    color: white;
}
#profile #resume{ margin-right: 20px; background-color: salmon;}
#profile #project{ margin-right: 30px; background-color: rgb(80, 218, 172);}
#profile #text_box{
    margin: 20px 0;
}
#profile #text_box a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(236, 104, 95);
}
#profile #text_box a:hover{  color: rgb(228, 179, 176);}
#certificate_lang table{table-layout: fixed;}
#certificate_lang table thead td{height: 20px;}  
#certificate_lang td:first-of-type{
    border-right: 3px dotted gray;
} 
#certificate_lang #bin_space{
    border: 0;
}
#certificate_lang #education{
    padding: 0 auto;
}
#certificate_lang .innerTable{
    table-layout: auto;
    width: fit-content;
    margin: 0 auto;
}
#certificate_lang .innerTable td{
    width: fit-content;
    padding-right: 10px;
    font-size: 18px;
    border: 0;
}
#certificate_lang .innerTable .date p:first-child{
    color: rgba(248, 110, 60, 0.877);
    margin-top: 30px;
    font-size: 15px;
}
#certificate_lang img{
    margin-top: 30px;
    margin-right: 10px;
}
#certificate_lang .innerTable a{
    color: black
}
#certificate_lang .innerTable  a:hover{
    color: gray
}

#skill{ margin-top: 20px;}
#skill table {
    text-align: center;
}
#skill table tbody td{
    padding: 30px 0;
}
#skill table tbody img{
    margin: 0 10px;
}
footer{
    font-family: none;
    font-size: 13px;
}

